In [19]:
# Import libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from pathlib import Path

np.random.seed(42) # Make this notebook's output stable across runs

# Let's define the default font sizes, to plot pretty figures
plt.rc('font', size=12)
plt.rc('axes', labelsize=14, titlesize=14)
plt.rc('legend', fontsize=12)
plt.rc('xtick', labelsize=10)
plt.rc('ytick', labelsize=10)

# Define Pandas library settings
pd.set_option('display.max_columns', None) # Print all dataframe columns
# pd.set_option('display.max_rows', None) # Print all dataframe rows
# pd.set_option('display.max_colwidth', None) # Maximal column's width in dataframe. It might be integer (int) or None (maximal width).
# pd.set_option('display.precision', 2) # Define the precision number, i.e. number of decimal points (int).
# pd.reset_option('dispay.max_columns') # Copy and uncomment to reset the particular rule, here 'max columns'.

In [20]:
Path()

WindowsPath('.')

In [29]:
# datapath = Path() / "data" / "lifesat" # Define the path to lifesat directory
datapath = Path("./data/lifesat")
# Load data
oecd_bli = pd.read_csv(datapath / "oecd_bli.csv")
gdp_per_capita = pd.read_csv(datapath / "gdp_per_capita.csv")

In [33]:
oecd_bli.head(100)

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,5.40,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.50,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.70,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,6.00,NaN,NaN
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,LVA,Latvia,JE_LMIS,Labour market insecurity,L,Value,WMN,Women,PC,Percentage,0,Units,NaN,NaN,8.00,NaN,NaN
96,SVN,Slovenia,JE_LMIS,Labour market insecurity,L,Value,WMN,Women,PC,Percentage,0,Units,NaN,NaN,6.50,NaN,NaN
97,OECD,OECD - Total,JE_LMIS,Labour market insecurity,L,Value,WMN,Women,PC,Percentage,0,Units,NaN,NaN,7.20,NaN,NaN
98,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,HGH,High,PC,Percentage,0,Units,NaN,NaN,2.29,NaN,NaN
99,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,HGH,High,PC,Percentage,0,Units,NaN,NaN,2.67,NaN,NaN

In [31]:
gdp_per_capita

,Entity,Code,Year,"GDP per capita, PPP (constant 2017 international $)"
0,Afghanistan,AFG,2002,1189.784668
1,Afghanistan,AFG,2003,1235.810063
2,Afghanistan,AFG,2004,1200.278013
3,Afghanistan,AFG,2005,1286.793659
4,Afghanistan,AFG,2006,1315.789117
...,...,...,...,...
7104,Zimbabwe,ZWE,2016,3173.610829
7105,Zimbabwe,ZWE,2017,3274.611198
7106,Zimbabwe,ZWE,2018,3341.665418
7107,Zimbabwe,ZWE,2019,3027.656038
7108,Zimbabwe,ZWE,2020,2744.690758

In [46]:
# Preprocess data GDP per capita to consider only 2020 and simplify columns' names
gdp_per_capita_2020 = gdp_per_capita[gdp_per_capita["Year"]==2020]
gdp_per_capita_2020 = gdp_per_capita_2020.rename(
    columns={"GDP per capita, PPP (constant 2017 international $)": "GDP per capita (USD)"}
)
gdp_per_capita_2020

                           Entity      Code  Year  GDP per capita (USD)
18                    Afghanistan       AFG  2020           1978.961579
49    Africa Eastern and Southern       NaN  2020           3387.594670
80     Africa Western and Central       NaN  2020           4003.158913
111                       Albania       ALB  2020          13295.410885
142                       Algeria       DZA  2020          10681.679297
...                           ...       ...   ...                   ...
6984                      Vanuatu       VUT  2020           2762.791388
7015                      Vietnam       VNM  2020           8200.331867
7046                        World  OWID_WRL  2020          16194.040310
7077                       Zambia       ZMB  2020           3270.035112
7108                     Zimbabwe       ZWE  2020           2744.690758

[224 rows x 4 columns]